@font-face {
	font-family:    "Incubus";
	/*src:            url('../res/fonts/brankovic.eot');*/
	src:           /* local('☺'),*/
					/*url('../res/fonts/brankovic.eot'),*/
					url('../res/fonts/incubus.ttf');
}


/* make HTML5 tags be block-style for old browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:			block;
}

.cool {
	background:	url("res/images/cool.png");
}

a, a img {
	border:				none;
	outline:			none;
}


.centred-X, .centred-Y {
	position:					absolute;
}


.nothing {
	display:					none !important;
}

.invisible {
	visibility:					hidden  !important;
}

.offscreen {
	position:					absolute !important;
	left:						-9999px !important;
}

.zero-width {
	width:						0px !important;
}
.zero-height {
	height:						0px !important;
}

.zero-opacity {
	opacity:					0 !important;
	filter:						alpha(opacity=0) !important;
}

body {
	background-color:		#000;
	font-family:			Arial, sans-serif;
	font-size:				10px;
	margin:					2px 0px;
	overflow-x:				hidden;
	width:					100%;
}

/************************************************
 * HEADER
 ***********************************************/

header {
	color:					#d00;
	font-family:			"Incubus", Arial, sans-serif;
	font-size:				14px;
	letter-spacing:			-2px;
	min-height:				25px;
}

#header-title  {
	color:					#f00;
	text-decoration:		none;
}
#header-title:hover  {
	color:					#a00;
}

#header-links {
	margin-top:				5px;
}

/************************************************
 * FOOTER
 ***********************************************/
footer {
	min-height:					20px;
	overflow-y:					auto;
}

 /* LINKS */
#footer-links {
	float:					right;
	line-height:			20px;
	opacity:				1;
	-webkit-transition:		opacity 1.5s ease;
	-moz-transition:		opacity 1.5s ease;
	-o-transition:			opacity 1.5s ease;
	-ms-transition:			opacity 1.5s ease;
	transition:				opacity 1.5s ease;
	text-transform:			uppercase;
}

#footer-links a {
	color:					#555;
	cursor:					pointer;
	float:					left;
	padding:				0px 10px;
	text-decoration:		none;
}
#footer-links a:hover {
    background:             -webkit-gradient(linear, left top, left bottom, from(#150000), to(#050000)); 
    background:             -moz-linear-gradient(90deg, #150000, #050000);                               
    background:             -o-linear-gradient(#150000, #050000); 
	color:					#d00;
}

 /* NAV */
#footer-nav {
	display:				inline-block;
	margin:					2px 3px;
}
#footer-nav .nav-sep {
	color:					#aaa;
	margin:					0px 5px;
}
#footer-nav .nav-part {
	color:					#888;
	text-decoration:		none;
}
#footer-nav .nav-part:hover {
	color:					red;
}
#footer-nav .nav-part.nav-current {
	color:					white;
}
  /* AD */
#footer-ad {
	display:				none;
	float:					left;
	left:					-100px;
	margin:					1px 0px;
	position:				relative;
	width:					470px;
}

.footer-link-separator {
	float:					left;
	background-color:		#333;
	height:					20px;
	margin-top:				0px;
	width:					1px;
}

.dark-panel {
	background-color:		#151515;
	background-color:		#f00;
    background:             -webkit-gradient(linear, left top, left bottom, from(#181818), to(#050505)); 
    background:             -moz-linear-gradient(90deg, #151515, #050505);                               
    background:             -o-linear-gradient(#151515, #050505); 
}


/************************************************
 * MIDDLE
 ***********************************************/
#layout-middle {
	box-shadow:				inset 0px 0px 3px 1px #000;
	-moz-box-shadow:		inset 0px 0px 3px 1px #000;
	-webkit-box-shadow:		inset 0px 0px 3px 1px #000;
	-o-box-shadow:			inset 0px 0px 3px 1px #000;
	-ms-box-shadow:			inset 0px 0px 3px 1px #000;
	overflow:				hidden;
	padding:				0px 0px;
	position:				relative;
}

#content-pane {
	background-color:		#aaa;
	box-shadow:				inset 0px 0px 5px 3px #000;
	-moz-box-shadow:		inset 0px 0px 5px 3px #000;
	-webkit-box-shadow:		inset 0px 0px 5px 3px #000;
	-o-box-shadow:			inset 0px 0px 5px 3px #000;
	-ms-box-shadow:			inset 0px 0px 5px 3px #000;
	overflow-x:				hidden;
}

#menu-button {
	display:				block;
	background-image:		url("../res/images/home-menu.png");
	height:					60px;
	left:					0px;
	margin:					4px;
	position:				absolute;
	top:					0px;
	width:					60px;
}


/************************************************
 * MENU 
 ***********************************************/
.menu-row {
}

.menu-item {
	color:					#ccc;
	cursor:					pointer;
	display:				block;
	left:					0px;
	height:					42px;
	margin:					10px;
	overflow:				hidden;
	position:				relative;
	-webkit-transition:		-webkit-transform .4s linear, left .5s linear;
	-moz-transition:		-moz-transform .4s linear, left .5s linear;
	-o-transition:			-o-transform .4s linear, left .5s linear;
	-ms-transition:			-ms-transform .4s linear, left .5s linear;
	text-align:				center;
	text-decoration:		none;
	transition:				transform .4s linear, left .5s linear;
	outline:none;
}

.menu-item:visited {
	color:					#ccc;
}

.offscreen-item {
	left:					2000px;
}

.menu-item-label {
	color:					#ddd;
	font-family:			"Incubus", Arial, sans-serif;
	font-size:				17px;
	letter-spacing:			2px;
	line-height:			42px;
}

.panel-link {
	background-color:		#090707;
	border-radius:			2px;
	-moz-border-radius:		2px;
	-webkit-border-radius:	2px;
	-o-border-radius:		2px;
	-ms-border-radius:		2px;
	box-shadow:				inset 0px 0px 20px 2px rgba(255,255,255,.1), 2px 2px 5px #000;
	-moz-box-shadow:		inset 0px 0px 20px 2px rgba(255,255,255,.1), 2px 2px 5px #000;
	-webkit-box-shadow:		inset 0px 0px 20px 2px rgba(255,255,255,.1), 2px 2px 5px #000;
	-o-box-shadow:			inset 0px 0px 20px 2px rgba(255,255,255,.1), 2px 2px 5px #000;
	-ms-box-shadow:			inset 0px 0px 20px 2px rgba(255,255,255,.1), 2px 2px 5px #000;
}

.panel-link:hover {
	box-shadow:				0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
	-moz-box-shadow:		0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
	-webkit-box-shadow:		0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
	-o-box-shadow:			0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
	-ms-box-shadow:			0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
}


/************************************************
 * MENU - HIRAGANA CHARACTER 
 ***********************************************/

#item-char-htv .icon-1 {
	background-position:	-2px 0px;
	width:					34px;
}
#item-char-htv .icon-2 {
	background-position:	-90px 0px;
	width:					16px;
}
#item-char-htv .icon-3 {
	background-position:	-43px 0px;
	width:					43px;
}
/* vth */
#item-char-vth .icon-1 {
	background-position:	-43px 0px;
	width:					43px;
}
#item-char-vth .icon-2 {
	background-position:	-90px 0px;
	width:					16px;
}
#item-char-vth .icon-3 {
	background-position:	-2px 0px;
	width:					34px;
}
/* vtw */
#item-char-vtw .icon-1 {
	background-position:	-43px 0px;
	width:					43px;
}
#item-char-vtw .icon-2 {
	background-position:	-90px 0px;
	width:					16px;
}
#item-char-vtw .icon-3 {
	background-position:	-110px 0px;
	width:					50px;
}

/************************************************
 * MODULES
 ***********************************************/

.module {
	margin:					5px 5px;
	text-align:				center;
}

.module h1 {
	font-size:				2em;
	font-weight:			bold;
	margin-top:				5px;
	text-align:				center;
}

.module p {
	font-size:				10px;
	margin:					3px 5px 6px 5px;
	text-align:				justify;
}

.button-box {
	height:					28px;
	margin:					0px auto;
	width:					90px;
}

.button-box.inline {
	display:				inline-block;
}

.button-box button {
	background-color:		#333;
	border:					2px solid #555;
	border-radius:			5px;
	box-shadow:				1px 1px 1px #555;
	color:					white;
	cursor:					pointer;
	font-size:				smaller;
	height:					23px;
	margin-right:			2px;
	margin-left:			2px;
	width:					80px;
}

.button-box button:hover {
	background-color:		#833;
	border-color:			#933;
	box-shadow:				0px 0px 5px #b22;
	height:					27px;
	margin-top:				-2px;
	margin-right:			0px;
	margin-left:			0px;
	margin-bottom:			-2px;
	width:					84px;
}

/************************************************
 * MODULE SETTINGS
 ***********************************************/

.show-settings-but {
	background:				none;
	border:					none;
	color:					#900;
	cursor:					pointer;
	display:				block;
	font-size:				11px;
	margin:					auto;
	width:					150px;
}

.show-settings-but:hover {
	color:					red;
}

.drill-settings {
	color:					#333;
	text-align:				left;
	text-shadow:			2px 2px 2px #999;
	top:					0px;
	-webkit-transition:		opacity .4s ease;
	-moz-transition:		opacity .4s ease;
	-o-transition:			opacity .4s ease;
	-ms-transition:			opacity .4s ease;
	transition:				opacity .4s ease;
	min-width:					200px;
}

.drill-settings.mobile-hidden {
	display:				none;
}

.drill-settings table {
	border-collapse:		collapse;
	margin:					10px auto;
	text-align:				left;
}

.drill-settings table td {
	padding:				0px;
}
.drill-settings select {
	font-size:				10px;
}


/*----------------------------------------------
 *------------- CHAR to Voice -----------------------
 *--------------------------------------------*/

.random-char-holder {
	background-color:		white;
	border:					4px solid #000;
	box-shadow:				2px 2px 3px #000;
	font-size:				65px;
	margin:					12px auto;
	min-height:				80px;
	text-align:				center;
	width:					80px;
}

/*----------------------------------------------
 *------------- CHAR VTH -----------------------
 *--------------------------------------------*/
.char-choice-holder table {
	background-color:		white;
	border:					4px solid #000;
	box-shadow:				2px 2px 3px #000;
	font-size:				20px;
	margin:					6px auto 10px auto;
	text-align:				center;
}

.char-choice-holder td {
	padding:				3px;
}

.char-choice-holder td:hover {
	background-color:		black;
	color:					white;
	cursor:					pointer;
}

.char-choice-holder td.cheat-cell {
	background-color:		#cfc;
	outline:				#ada 1px solid;
}

.char-choice-holder td.wrong-cell {
	background-color:		#fcc;
	outline:				#daa 1px solid;
}

/*----------------------------------------------
 *------------- CHAR VTW -----------------------
 *--------------------------------------------*/
.char-writing-canvas {
	background-color:		#ffa;
	border:					4px solid #000;
	box-shadow:				2px 2px 3px #000, 0px 0px 3px #000 inset;
	cursor:					crosshair;
	margin:					8px 8px;
}

.char-writing-canvas-fail {
	border:					2px solid #d00;
	box-shadow:				2px 2px 3px #000;
	color:					#222;
	height:					100px;
	font-size:				12px;
	margin:					20px 10px;
	width:					100px;
}
#drill-char-vtw .random-char-holder {
	display:				inline-block;
	font-size:				80px;
	margin:					8px 8px;
	min-height:				100px;
	vertical-align:			top;
	width:					100px;
}

#drill-char-vtw .random-char-holder.covered {
	background-color:		black;
}

#drill-char-vtw a {
	line-height:			32px;
	text-decoration:		none;
}
