
/* make HTML5 tags be block-style for old browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:			block;
}

a, a img {
	border:				none;
	outline:			none;
}

.centred-X, .centred-Y {
	position:					absolute;
}

.nothing {
	display:					none !important;
}

.invisible {
	visibility:					hidden  !important;
}

.offscreen {
	position:					absolute !important;
	left:						-9999px !important;
}

.zero-width {
	width:						0px !important;
}
.zero-height {
	height:						0px !important;
}

.zero-opacity {
	opacity:					0 !important;
	filter:						alpha(opacity=0) !important;
}



