@font-face {
	font-family:    "Incubus";
	/*src:            url('../res/fonts/brankovic.eot');*/
	src:            local('☺'),
					/*url('../res/fonts/brankovic.eot'),*/
					url('res/fonts/incubus.ttf');
}

.invisible {
	visibility:				hidden;
}

body {
	background-color:		#000;
	margin:					0px;
	overflow:				hidden;
}

header {
	color:					#d00;
	font-family:			"Incubus";
	font-size:				x-large;
	line-height:			50px;
	height:					50px;
	padding-left:			20px;
}

footer {
	height:					50px;
}

#layout-middle {
	box-shadow:				inset 0px 0px 3px 1px #000;
	height:					0px;
	padding:				6px 0px;
}

.open-anim {
	-webkit-transition:		background-color 1s ease, height .5s linear;
}

.dark-panel {
	background-color:		#151515;
    background:             -webkit-gradient(linear, left top, left bottom, from(#151515), to(#050505)); 
    background:             -moz-linear-gradient(90deg, #151515, #050505);                               
    background:             -o-linear-gradient(#151515, #050505); 
}

.module-row {
	clear:					both;
	overflow:				hidden;
	width:					100%;
}

.module {
	float:					left;
	position:				relative;
	left:					0px;
}

.module-slide {
	-webkit-animation:		module-slide .5s linear;
}


@-webkit-keyframes module-slide {
	from {
		left: 2000px;
	}
}

.mod-cover {
	background-color:		#090707;
	border-radius:			20px;
	box-shadow:				inset 0px 0px 20px 4px rgba(255,255,255,.1), 2px 2px 5px #000;
	cursor:					pointer;
	margin:					7px;
}

.mod-cover:hover {
	box-shadow:				0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
}

#screen-block {
	left:					0px;
	position:				absolute;
	top:					0px;
	z-index:				100;
}






.jap-audio {
	visibility:		hidden;
}

#hira-char {
	cursor:			pointer;
	font-size:		40px;
	margin:			20px;
	text-align: 	center;
	width:			100px;
}
