@font-face {
	font-family:    "Incubus";
	/*src:            url('../res/fonts/brankovic.eot');*/
	src:            local('☺'),
					/*url('../res/fonts/brankovic.eot'),*/
					url('../res/fonts/incubus.ttf');
}


body {
	background-color:		#000;
	font-family:			Arial, sans-serif;
	font-size:				12px;
	margin:					0px;
	overflow:				hidden;
}

header {
	color:					#d00;
	font-family:			"Incubus";
	font-size:				x-large;
	line-height:			50px;
	height:					50px;
	padding-left:			20px;
}

footer {
	height:					50px;
}

#footer-links {
	float:					right;
	line-height:			50px;
	text-transform:			uppercase;
}

#footer-links a {
	color:					#444;
	cursor:					pointer;
	float:					left;
	padding:				0px 10px;
	text-decoration:		none;
}
#footer-links a:hover {
    background:             -webkit-gradient(linear, left top, left bottom, from(#150000), to(#050000)); 
    background:             -moz-linear-gradient(90deg, #150000, #050000);                               
    background:             -o-linear-gradient(#150000, #050000); 
	color:					#d00;
}
#footer-ad {
	float:					left;
	left:					-100px;
	margin:					17px 5px;
	position:				relative;
	width:					500px;
}

.footer-link-separator {
	float:					left;
	background-color:		#333;
	height:					50px;
	margin-top:				0px;
	width:					1px;
}

#layout-middle {
	box-shadow:				inset 0px 0px 3px 1px #000;
	-moz-box-shadow:		inset 0px 0px 3px 1px #000;
	-webkit-box-shadow:		inset 0px 0px 3px 1px #000;
	-o-box-shadow:			inset 0px 0px 3px 1px #000;
	-ms-box-shadow:			inset 0px 0px 3px 1px #000;
	height:					0px;
	padding:				6px 0px;
	position:				relative;
}

.open-anim {
	-webkit-transition:		background-color 1s ease, height .5s linear;
	-moz-transition:		background-color 1s ease, height .5s linear;
	-o-transition:			background-color 1s ease, height .5s linear;
	-ms-transition:			background-color 1s ease, height .5s linear;
}

.dark-panel {
	background-color:		#151515;
    background:             -webkit-gradient(linear, left top, left bottom, from(#151515), to(#050505)); 
    background:             -moz-linear-gradient(90deg, #151515, #050505);                               
    background:             -o-linear-gradient(#151515, #050505); 
}

.menu-row {
	clear:					both;
	overflow:				hidden;
	width:					100%;
}

.menu-item {
	cursor:					pointer;
	display:				block;
	float:					left;
	left:					0px;
	margin:					7px;
	position:				relative;
	-webkit-transition:		-webkit-transform .4s linear, left .5s linear;
	-moz-transition:		-moz-transform .4s linear, left .5s linear;
	-o-transition:			-o-transform .4s linear, left .5s linear;
	-ms-transition:			-ms-transform .4s linear, left .5s linear;
	transition:				transform .4s linear, left .5s linear;
}


.offscreen-item {
	left:					2000px;
}

#item-char-htv {
	background-image:		url("../res/images/htv.png");
	background-repeat:		no-repeat;
	background-position:	center center;
}

#screen-block {
	left:					0px;
	position:				absolute;
	top:					0px;
	z-index:				100;
}

.expandable {
	-webkit-transition:		left .5s ease, width .5s ease;
	-moz-transition:		left .5s ease, width .5s ease;
	-o-transition:			left .5s ease, width .5s ease;
	-ms-transition:			left .5s ease, width .5s ease;
	transition:				left .5s ease, width .5s ease;
}

#content-pane {
	background-color:		#aaa;
	box-shadow:				inset 0px 0px 5px 3px #000;
	-moz-box-shadow:		inset 0px 0px 5px 3px #000;
	-webkit-box-shadow:		inset 0px 0px 5px 3px #000;
	-o-box-shadow:			inset 0px 0px 5px 3px #000;
	-ms-box-shadow:			inset 0px 0px 5px 3px #000;
	overflow:				hidden;
	position:				absolute;
	z-index;				3;
}

#menu-button {
	display:				block;
	background-image:		url("../res/images/home-menu.png");
	height:					60px;
	left:					0px;
	margin:					4px;
	position:				absolute;
	top:					0px;
	width:					60px;
}

.panel-link {
	background-color:		#090707;
	border-radius:			2px;
	-moz-border-radius:		2px;
	-webkit-border-radius:	2px;
	-o-border-radius:		2px;
	-ms-border-radius:		2px;
	box-shadow:				inset 0px 0px 20px 4px rgba(255,255,255,.1), 2px 2px 5px #000;
	-moz-box-shadow:		inset 0px 0px 20px 4px rgba(255,255,255,.1), 2px 2px 5px #000;
	-webkit-box-shadow:		inset 0px 0px 20px 4px rgba(255,255,255,.1), 2px 2px 5px #000;
	-o-box-shadow:			inset 0px 0px 20px 4px rgba(255,255,255,.1), 2px 2px 5px #000;
	-ms-box-shadow:			inset 0px 0px 20px 4px rgba(255,255,255,.1), 2px 2px 5px #000;
}

.panel-link:hover {
	box-shadow:				0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
	-moz-box-shadow:		0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
	-webkit-box-shadow:		0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
	-o-box-shadow:			0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
	-ms-box-shadow:			0px 0px 20px 4px rgba(100,0,0,.8), inset 0px 0px 8px 2px #f00; 
}

.module {
	text-align:				center;
	width:					100%;
}

.drill-settings {
	color:					#333;
	font-size:				12px;
	margin:					20px 0px;
	opacity:				.4;
	position:				absolute;
	right:					0px;
	text-align:				left;
	text-shadow:			0px 0px 3px #333;
	top:					0px;
	-webkit-transition:		opacity .4s ease;
	-moz-transition:		opacity .4s ease;
	-o-transition:			opacity .4s ease;
	-ms-transition:			opacity .4s ease;
	transition:				opacity .4s ease;
	min-width:					200px;
}

.drill-settings:hover {
	opacity:				1.0;
	text-shadow:			2px 2px 2px #999;
}

.drill-settings tr:hover {
	border-radius:			3px;
	color:					#111;
}

.drill-settings tr:hover select {
	background-color:		#f99;
	border:					1px solid #e55;
	border-radius:			3px;
}

#links-mod-text {
	display:				block;
	max-width:				400px;
	margin:					20px auto;
	text-align:				center;
}

#about-mod-text {
	display:				block;
	max-width:				400px;
	margin:					20px auto;
	text-align:				center;
}

/*--
 * char table
 *--*/

#char-table {
	background-color:		black;
	border:					solid 2px #fff;
	box-shadow:				2px 2px 4px #555;
	overflow:				auto;
	position:				absolute;
	width:					600px;
	z-index:				101px;
}

#char-table table {
	margin:					10px auto;
}

#char-table th {
	color:					white;
	font-size:				20px;
	width:					30px;
}

#char-table td {
	color:					white;
	font-size:				20px;
	text-align:				center;
	width:					20px;
}
/*----------------------------------------------
 *------------- CHAR HTV -----------------------
 *--------------------------------------------*/

.module h1 {
	font-size:				2em;
	font-weight:			bold;
	margin-top:				30px;
	text-align:				center;
}

.module p {
	font-size:				10px;
	margin:					5px auto 15px auto;
	text-align:				justify;
	width:					350px;
}

.random-char-holder {
	background-color:		white;
	border:					4px solid #000;
	box-shadow:				2px 2px 3px #000;
	font-size:				80px;
	margin:					40px auto;
	text-align:				center;
	width:					100px;
}

.button-box {
	height:					32px;
	margin:					0px auto;
	width:					88px;
}

.button-box.inline {
	display:				inline-block;
}
.button-box button {
	background-color:		#333;
	border:					2px solid #555;
	border-radius:			5px;
	box-shadow:				1px 1px 1px #555;
	color:					white;
	cursor:					pointer;
	height:					27px;
	margin-right:			2px;
	margin-left:			2px;
	width:					80px;
	-webkit-transition:		all .1s linear;
}

.button-box button:hover {
	background-color:		#833;
	border-color:			#933;
	box-shadow:				0px 0px 5px #b22;
	height:					31px;
	margin-top:				-2px;
	margin-right:			0px;
	margin-left:			0px;
	margin-bottom:			-2px;
	width:					84px;
}



/*----------------------------------------------
 *------------- CHAR VTH -----------------------
 *--------------------------------------------*/
.char-choice-holder table {
	background-color:		white;
	border:					4px solid #000;
	box-shadow:				2px 2px 3px #000;
	font-size:				18px;
	margin:					20px auto;
	text-align:				center;
	width:					100px;
}

.char-choice-holder td {
	padding:				3px;
}

.char-choice-holder td:hover {
	background-color:		black;
	color:					white;
	cursor:					pointer;
}

.char-choice-holder td.cheat-cell {
	background-color:		#ccf;
	outline:				#aad 1px solid;
}

.char-choice-holder td.wrong-cell {
	background-color:		#fcc;
	outline:				#daa 1px solid;
}

/*----------------------------------------------
 *------------- CHAR VTW -----------------------
 *--------------------------------------------*/
.char-writing-canvas {
	background-color:		#ffa;
	border:					4px solid #000;
	box-shadow:				2px 2px 3px #000;
	font-size:				80px;
	margin:					20px 10px;
}

.char-writing-canvas-fail {
	border:					2px solid #d00;
	box-shadow:				2px 2px 3px #000;
	color:					#222;
	height:					100px;
	font-size:				12px;
	margin:					20px 10px;
	width:					100px;
}
#drill-char-vtw .random-char-holder {
	display:				inline-block;
	margin:					20px 10px;
	min-height:				100px;
}
