.ui-check-list {
	background-color:			#fff;
	box-shadow:					inset 1px 1px 3px #444;
	display:					inline-block;
	height:						120px;
	overflow-x:					hidden;
	overflow-y:					auto;
	resize:						vertical;
	vertical-align:				top;
	width:						200px;
}

.ui-check-item {
	cursor:						pointer;
	padding:					2px;
	text-align:					left;
}

.ui-check-item.room-item:hover {
	outline:					#400 1px dashed;
}

.ui-check-item.selected {
	background-color:			#ccc;
}

#room-item-count {
	margin:						5px auto;
	max-width:					350px;
	text-align:					right;
}

#tag-options {
	display:					inline-block;
	margin:						10px auto;
	text-align:					left;
}

#tag-options label {
	display:					block;
}

#mod-name-tags .button-box {
	margin-top:					8px;
}
