
body {
	overflow:				hidden;
}

.mobile-only {
	display:				none;
}

/************************************************
 * HEADER
 ***********************************************/
header {
	font-size:				x-large;
	height:					50px;
	letter-spacing:			0px;
	line-height:			50px;
	padding-left:			20px;
}

#header-links {
	float:					right;
	height:					24px;
	margin-right:			15px;
}


#header-title  {
	float:					left;
}

#header-ad-mobile {
	display:				none;
}

/************************************************
 * FOOTER
 ***********************************************/
footer {
	min-height:				50px;
}

#footer-links {
	line-height:			50px;
}

#footer-links.start {
	opacity:				0;
}

#footer-links a {
	padding:				0px 10px;
}

.footer-link-separator {
	height:					50px;
}

  /* AD */
#footer-ad {
	display:				block;
	left:					-100px;
	margin:					17px 5px;
}

 /* NAV */
#footer-nav {
	font-size:				14px;
	margin:					17px 5px;
}
#footer-nav.anim {
	-webkit-transition:		box-shadow .5s ease;
	-moz-transition:		box-shadow .5s ease;
	-o-transition:			box-shadow .5s ease;
	-ms-transition:			box-shadow .5s ease;
	transition:				box-shadow .5s ease;
}
#footer-nav.highlight {
	-webkit-box-shadow:		0px 0px 15px #aaa, 0px 0px 10px #aaa inset;
	-moz-box-shadow:		0px 0px 15px #aaa, 0px 0px 10px #aaa inset;
	-o-box-shadow:			0px 0px 15px #aaa, 0px 0px 10px #aaa inset;
	-ms-box-shadow:			0px 0px 15px #aaa, 0px 0px 10px #aaa inset;
	box-shadow:				0px 0px 15px #aaa, 0px 0px 10px #aaa inset;
}

/************************************************
 * MIDDLE
 ***********************************************/
#layout-middle {
	box-shadow:				inset 0px 0px 3px 1px #000;
	-moz-box-shadow:		inset 0px 0px 3px 1px #000;
	-webkit-box-shadow:		inset 0px 0px 3px 1px #000;
	-o-box-shadow:			inset 0px 0px 3px 1px #000;
	-ms-box-shadow:			inset 0px 0px 3px 1px #000;
	padding:				6px 0px;
	position:				relative;
}

.color-change-anim {
	-webkit-transition:		background-color 1s ease, height .5s linear;
	-moz-transition:		background-color 1s ease, height .5s linear;
	-o-transition:			background-color 1s ease, height .5s linear;
	-ms-transition:			background-color 1s ease, height .5s linear;
	transition:				background-color 1s ease, height .5s linear;
}

#side-ad {
	display:				block;
}

#content-pane {
	overflow-y:				auto;
	position:				absolute;
	z-index;				3;
}



/* Expand the module's frame width-wise for animation */
.expandable {
	-webkit-transition:		left .5s ease, width .5s ease;
	-moz-transition:		left .5s ease, width .5s ease;
	-o-transition:			left .5s ease, width .5s ease;
	-ms-transition:			left .5s ease, width .5s ease;
	transition:				left .5s ease, width .5s ease;
}


/************************************************
 * MODULES
 ***********************************************/

.module h1 {
	font-size:				2em;
	font-weight:			bold;
	margin-top:				30px;
}

.module p {
	font-size:				10px;
	margin:					5px auto 15px auto;
	width:					350px;
}

.button-box {
	height:					32px;
	width:					100px;
}

.button-box button {
	height:					27px;
	font-size:				12px;
	width:					90px;
	-webkit-transition:		all .1s linear;
	-moz-transition:		all .1s linear;
	-o-transition:			all .1s linear;
	-ms-transition:			all .1s linear;
	transition:				all .1s linear;
}

.button-box button:hover {
	height:					31px;
	width:					94px;
}
